@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #aeddf0;
    font-family: 'Oswald', sans-serif;
    position: relative;
}

#main-container {
    text-align: center;
    color: #000;
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

#play-area {
    margin-bottom: 20px;
}

#player-name {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

#server-status {
    color: #f39c12;
    margin-bottom: 10px;
}

#play-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.btn-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    width: 80px;
    height: 80px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.btn-icon i {
    font-size: 24px;
}

.btn-icon span {
    margin-top: 5px;
    font-size: 0.8rem;
}
#single-play-button {
    background-color: #2ecc71; /* Green for single play */
}

#single-play-button:hover {
    background-color: #27ae60; /* Darker green on hover */
}

#multi-play-button {
    background-color: #f1c40f; /* Light yellow for multiplayer */
}

#multi-play-button:hover {
    background-color: #f39c12; /* Darker yellow on hover */
}
.btn-icon:hover {
    background-color: #2980b9;
}

#top-left, #top-right, #bottom-left, #bottom-right {
    position: absolute;
}

#top-left {
    top: 10px;
    left: 10px;
    display: flex;
    gap: 10px;
}

#top-right {
    top: 10px;
    right: 10px;
    font-size: 1rem;
    color: #000;
}

#bottom-left {
    bottom: 10px;
    left: 10px;
}

#bottom-right {
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
